@media(max-width: 375px) {
    .names{
        display: block;
    }
    .names .first-name, .names .last-name {
        width: 100%;
    }
    .names .first-name {
        margin-bottom: 25px;
    }

    .query {
        display: block;
    }
    .query .radio-option:first-child {
        margin-bottom: 15px;
    }

    .success-message {
        width: 320px;
    }
}

@media (max-width:320px) {
    .success-message {
        width: 300px;
    }
}