body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    background-color: hsl(148, 38%, 91%);
}
span {
    margin-left: 8px;
    font-size: 15px;
    color: hsl(169, 82%, 27%);
}
h1 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    color: hsl(187, 24%, 22%);
}
form {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    width: 650px;
}
input, textarea {
    border-radius: 5px;
    border: 1px solid hsl(187, 24%, 22%, 50%);
    padding: 10px;
    width: 100%;
    font-size: 16px;
    transition: 0.4s ease;
}
textarea{
    height: 90px;
    resize: none;
}
p {
    margin-bottom: 10px;
    color: hsl(187, 24%, 22%);
}
label {
    font-weight: 400;
    font-size: 16px;
    color: hsl(187, 24%, 22%);
}

/* ---- NAME ---- */
.names {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.names .first-name {
    margin-right: 10px;
    width: 50%;
}
.names .last-name{
    width: 50%;
}

/* ---- EMAIL ---- */
.email {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* ---- QUERY ---- */
.query {
    display: flex;
}
.query .query-title {
    font-size: 16px;
}
.query .radio-option {
    display: flex;
    border: 1px solid hsl(187, 24%, 22%, 50%);
    border-radius: 5px;
    width: 100%;
    padding: 12px 0px 12px 18px;
    text-align: left;
    transition: 0.3s ease;
    cursor: pointer;
}
.query .radio-option:first-child{
    margin-right: 15px;
}
.query .radio-option input {
    width: 15px;
    margin-right: 10px;
    accent-color: hsl(169, 82%, 27%);
    color: hsl(187, 24%, 22%, 50%);
    cursor: pointer;
}
.query .radio-option label {
    font-size: 16px; 
    cursor: pointer;  
}

/* ---- MESSAGE ---- */
.textarea .message-title {
    margin-top: 25px;
}

/* ---- CONSENT ---- */
.consent {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
}
.consent .inputconsent {
    display: flex;
    align-items: center;
}
#consent {
    width: 15px;
    margin-right: 15px;
    accent-color: hsl(169, 82%, 27%);
    cursor: pointer;
}

/* ---- SUBMIT ---- */
.submit {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: hsl(169, 82%, 27%);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 30px;
    transition: 0.4s ease;
    cursor: pointer;
}

/* ---- HOVER ---- */
.submit:hover {
    background-color: hsl(169, 83%, 16%);
}
.input:hover {
    border-color: hsl(169, 82%, 27%);
}
.radio-option:hover {
    border-color: hsl(169, 82%, 27%);
}

/* ---- ACTIVE STYLES ---- */
.required {
    color: hsl(0, 66%, 54%, 85%);
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.error {
    border-color: hsl(0, 66%, 54%, 85%);
}
.active {
    border: 1px solid hsl(169, 82%, 27%);
}
.query .radio-style {
    background-color: hsl(169, 82%, 27%, 15%);
    border-color: hsl(169, 82%, 27%);
}

/* ---- SUCCESS MESSAGE ---- */

.success-message {
    position: absolute;
    top: 2%;
    background-color: hsl(187, 24%, 22%);
    border-radius: 10px;
    padding: 25px 20px 25px 20px;
}

.success-message .success-header {
    display: flex;
}

.success-message .success-header img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.success-message .success-header .success-title {
    color: #fff;
    margin-bottom: 0;
}

.success-message .success-text {
    color: white;
    opacity: 80%;
    margin-bottom: 0;
    margin-top: 10px;
}

.hidden {
    opacity: 0;
}
.show {
    opacity: 100;
}

.animation {
    animation: success 4s linear;
}
@keyframes success {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    90% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
